@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-brand-black font-helvetica;
}

.swiper-button-disabled {
  @apply opacity-0
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/font/HelveticaNeue-Black.woff2") format("woff2"),
    url("../public/font/HelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/font/HelveticaNeue-Heavy.woff2") format("woff2"),
    url("../public/font/HelveticaNeue-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/font/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../public/font/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/font/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../public/font/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/font/HelveticaNeue-Roman.woff2") format("woff2"),
    url("../public/font/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
